/*------------------ General--------------------- */
.arrow{
  position: fixed;
  right: 15px;
  bottom: 15px;
  z-index: 99;
  width: 40px;
  height: 40px;
  background-color: #0078ff;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
}
.arrow a{
  color: #fff;
 
  
}
a{
    text-decoration: none;
}
ul{
    list-style-type: none;
}
.main-title {
    margin-bottom: 4rem;
  }
  
  
.title-head {
   
    font-size: 3rem;
    font-weight: bold;
    text-transform: uppercase;
}
  
.subtitle-head {
    color: #4e4e4e;
   
}
  
.line{
    width: 40px;
    height: 5px;
    background-color: #0078ff;
    margin: auto;
}
.general-title {
    font-size: 2rem;
    position: relative;
    margin-bottom: 3rem;
}
.general-title h5{
    font-size: 2rem;
    position: relative;
    margin-bottom: 3rem;
}
.general-title:before {
    content: "";
    position: absolute;
    height: 3px;
    background-color: #0078ff;
    width: 100px;
    bottom: -12px;
}
.title{
    
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.2rem;
}
/*------------------ General--------------------- */
/*------------------ nav--------------------- */
.my-nav-col .my-p{
  white-space: nowrap;
  padding: 5px 0 5px 16px;
  
}
.my-nav-col{
background-color: rgba(0,0,0,0.9);
}
.my-nav-col ul .brd .active{
  color: #fff;
}
.my-nav-col ul .brd .active::before{
  content: '';
  position: absolute;
  width: 60%;
  height: 2px;
  bottom: 3px;
  left: 10px;
 
  background-color: #fff;
  visibility: visible;
  transition: all 0.6s ease ;
}


.my-nav-col ul .brd a::before{
  content: '';
  position: absolute;
  width: 0%;
  height: 2px;
  bottom: 3px;
  left: 10px;
  visibility: hidden;
  background-color: #fff;
 
  transition: all 0.6s ease ;
}
.my-nav-col ul .brd a:hover::before{
  visibility: visible;
  width: 60%;
}

.my-nav-col .logo{
    font-size: 28px;
    margin: 0;
    padding: 0;
    font-weight: 600;
    letter-spacing: 1px;
}
.my-nav-col a {
  color: #fff;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 0.4px;
  position: relative;

}
.my-nav-col a:hover{
  color: #fff !important;
}
.my-nav-col a:focus{
  color: #fff !important;
}
.col-dark a{
color:  #020202 ;
}
.col-dark a:hover{
  color:  #020202;
}
.col-wh{
  color: #fff;
}
.col-hov-drop a:hover{
  color: #020202 !important;
}
@media (max-width: 991px){
 .navbar-nav{
  height: 100vh;
  width: 100%;
  background-color: #fff;
 }
  .my-nav-col ul .brd .active{
    color: #0078ff;
  }
  .my-nav-col ul .brd .active::before{
    visibility: hidden;
  }
  .my-nav-col ul .brd a:hover::before{
    visibility: hidden;
    
  }
  .my-nav-col ul .brd a:hover{
    color: #0078ff !important;
  }
  .my-nav-col a {
    color: #020202;
  }
  .my-nav-col a:focus {
    color: #020202 !important;
  }

  .my-nav-col .logo{
    color: #fff;
  }
  .my-nav-col .mob-col:hover{
    color: #0078ff !important;
  }
  .my-nav-col .mob-col {
    color: #020202 !important;
  }
  
 
 
}

/*------------------ nav--------------------- */



header{
    min-height: 100vh;
    background-image:linear-gradient(rgba(0,0,0,0.5)0% 100%)  , url(../imges/hero-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #fff;
    
}

header .container .caption{
    margin-top: 35px;
    /* background-color: blanchedalmond; */
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
header .caption h1{
    font-size: 3rem;
    font-weight: 600;
   margin-bottom: 2rem;
}
 .txt{
  font-size: 2.5rem;
  font-weight: 600;
  
 

}
.sec-text{
    /* background-color: beige; */
    height: 90px;
    line-height: 90px;
    overflow: hidden;
    list-style-type: none;
   
   
}
.sec-text li{
    position: relative;
    top: 0;
    font-size: 1.5rem;
    margin-bottom: 2px;
    animation: slide 12s steps(4) infinite;
    overflow: hidden;
}
@keyframes slide {
    100%{
        top: -360px;
    }
}
.sec-text li span{
    position: relative;
    overflow: auto;
    /* background-color: aqua; */
}

.sec-text li span::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 55px;
    border-left: 2px solid #ffffff;
    background-color: rgba(0,0,0,1);
    top: 5%;
    left: 0%;
    animation: typing 1.5s steps(10) infinite alternate;
}
@keyframes typing {
    100%{
        left: 100%;
        margin: 0 -35px 0 35px;
    }
}

@media (min-width: 768px) {
    header .caption h1{
      font-size: 4.5rem;
    }
  }
  
  /* .hero .hero-subtitle {
    font-size: 1.5rem;
    font-weight: 600;
  } */
  
  @media (min-width: 768px) {
    .sec-text li{
      font-size: 2.5rem;
    
    }
  }
/* -------------------about------------------------ */
.about{
    padding: 4rem 0 4rem 0;
    background-color: #F5F5F5;
}
.about .container .all-about {
    padding: 4rem 1rem 4rem 1rem;
    background-color: #fff;
    margin-bottom: 3rem;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);

}
.about .img-morgan{
    margin-bottom: 2rem;
    margin-left: 10px;
}
.about-info span{
    color: #4e4e4e;
}
.skills span {
    color: #4e4e4e;
}

.skills .title{
    
    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.about-info .title{

    font-weight: 600;
    color: #1e1e1e;
    font-size: 1.1rem;
}
.skills .progress {
    /* background-color: #cde1f8; */
    margin: 0.5rem 0 1.2rem 0;
    border-radius: 0;
    height: 0.7rem;
}
  
.skills .progress .progress-bar {
    height: 0.7rem;
    background-color: #0078ff;
}



/* -------------------about------------------------ */



/* -------------------services------------------------ */

.services{
    background-color: #F5F5F5;
}
.service-card{
    background-color: #fff;
    padding: 2.5rem 1.3rem;
    border-radius: 1rem;
    margin-bottom: 3rem;
   text-align: center;
}

  .service-card .service-icon {
    margin-bottom: 20px;
    color: #1e1e1e;
    width: 115px;
    height: 115px;
    margin: auto;
    border: #0078ff 10px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .service-card .icon {
   font-size: 40px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    transition:  background-color 0.5s ease;
    
}
  .service-card:hover .service-icon{
    width: 115px;
    height: 115px; 
    color: #fff;
    background-color: #0078ff;
    box-shadow: 0 0 0 10px #cde1f8;
    border-radius: 50%;
   
}

.service-title {
    font-size: 1.4rem;
    text-transform: uppercase;
    text-align: center;
    padding: 0.4rem 0;
  }
/* -------------------services------------------------ */



/* -------------------counter------------------------ */

.counter{
    background-image:linear-gradient(rgba(0, 120, 255,0.7) 0% 100%)  , url(../imges/counters-bg.jpg);
    background-repeat: no-repeat;
    background-attachment: scroll;
    background-size: cover;
    background-position: center center;
    color: #fff;
    text-align: center;
    padding: 8rem 0;
    
}

@media (min-width: 1024px) {
    .counter{
      background-attachment: fixed;
    }
  }
.all-counter .counter-icon{
    margin-bottom: 20px;
    width: 80px;
    height: 80px;
    margin: auto;
    border: #CDE1F8 10px solid;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    
  }
  .counter-icon .icon {
   font-size: 30px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    
    
}

.all-counter .num {
    font-size: 2rem;
    margin-bottom: 0;
}
/* -------------------counter------------------------ */


/* -------------------portfolio------------------------ */

.portfolio{
    padding-top: 4rem;
    background-color: #F5F5F5;
}
.work-card{
    margin-bottom: 3rem;
   
    background-color: #fff;
}
.work-content {
    padding: 2rem 3% 1rem 4%;
}

.work-icon .plus {
   color: #0078ff;
   border: #0078ff 3px solid;
   border-radius: 50%;
   font-size: 2rem;
 
     
}
.work-icon .plus i {
    padding: 6px;
   
}
.work-content .web-date {
    color: #4e4e4e;
    font-size: 0.8rem;
  }
  
  .work-content .web-date .web {
    color: #0078ff;
    font-size: 0.8rem;
  }
  .work-card:hover img {
    transform: scale(1.3);
  }
  
  .work-img {
    display: block;
    overflow: hidden;
  }
  
  .work-img img {
    transition: all 1s;
  }

/* -------------------portfolio------------------------ */


/* -------------------testimonial------------------------ */
.testimonial{
    padding: 8rem 0;
    background-image:linear-gradient(rgba(0, 120, 255,0.7) 0% 100%) , url(../imges/overlay-bg.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
}

.xavi-img .xavi{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
    margin: 1rem 0;
    display: block;
    font-size: 1.4rem;
}

@media (min-width: 768px) {
    .xavi-img .description {
      padding: 0 5rem;
      color: #fff;
    }
  }
  
  @media (min-width: 992px) {
    .xavi-img .description {
      padding: 0 8rem;
      color: #fff;
    }
  }
  
  @media (min-width: 1200px) {
    .xavi-img .description {
        padding: 0 13rem;
        color: #fff;
    }
  }
  .carousel-indicators [data-bs-target] {
    text-indent: 0;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    cursor: pointer;
}


/* -------------------testimonial------------------------ */



/* -------------------blog------------------------ */
.blog{
    padding-top: 4rem ;
    padding-bottom: 6rem ;
    background-color: #F5F5F5;
    
}
.travel-img{
    position: relative;
    /* background-color: brown; */
    margin-bottom: 5px;
}
.all-travel {
    display: inline-block;
    color: #fff;
    padding: 0 15px 5px;
    overflow: hidden;
    background-color: #0078ff;
    border-radius: 4px;
    position: absolute;
    top: 95%;
    left: 50%;
    transform: translateX(-50%);
  }
  
  .all-travel .travel{
    color: #fff;
    display: inline-block;
    text-transform: uppercase;
    font-size: 0.7rem;
    letter-spacing: 0.1px;
    margin-bottom: 0;
  }

.morgan-card-img{
    width: 32px;
    height: 32px;
    margin-right: 4px;
}
.my-col{
    color: #4e4e4e;
}
.change-col-hover a:hover span{
    color: #0078ff;
}

@media screen  and (min-width: 768px) and (max-width: 992px){
    .my-flex {
        flex-direction: column;
       }
}
/* -------------------blog------------------------ */
/* -------------------contact------------------------ */

.contact{
    padding: 5rem 0 3rem 0;
    background-image:linear-gradient(rgba(0, 120, 255,0.7) 0% 100%) , url(../imges/overlay-bg.jpg) ;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    background-position: center center;
   
}
.shadow {
    padding: 3rem 1.25rem;
    position: relative;
    background-color: #fff;
    z-index: 2;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.06), 0 2px 5px 0 rgba(0, 0, 0, 0.2);
}



.contact-mf{
    margin-top: 4rem;
}
.my-border{
    border-radius: 0;
}

.btn {
  
   
    text-align: center;
    vertical-align: middle; 
    border: 1px solid transparent;
    transition: all 0.5ms ease;
    cursor: pointer;
    border-radius: 5rem;
    padding: 10px 24px;
    background: #0078ff;
    color: #fff;
    margin-top: 1rem ;
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
 
  
  .btn:hover {
    background-color: #3393FF;
    color: #fff;
    box-shadow: 0 0 0 4px #cde1f8;
  }
 .col-icon{
    color: #0078ff;
 } 
 .my-icon{
    
    line-height: 1.6;
    height: 40px;
    width: 40px;
    font-size: 1.2rem;
    border-radius: 50%;
    line-height: 1.6;
    margin: 0 15px 0 0;
    box-shadow: 0 0 0 3px #0078ff;
 }

 .socials  .my-icon:hover {
    background-color: #0078ff;
    
    box-shadow: 0 0 0 3px #cde1f8;
    transition: all 500ms ease;
 }

 .socials  .my-icon .col-ico{
    color: #020202;
 }
 .socials  .my-icon:hover .col-ico{
    color: #fff;
 }
  
/* -------------------contact------------------------ */
/* -------------------footer------------------------ */

 footer {
    text-align: center;
    color: #fff;
    padding: 25px 0;
    background: #0062d3;
  }
  
  footer .copyright {
    margin-bottom: 0.3rem;
  }
  
  footer .bootsrap {
    margin-bottom: 0;
  }
  
  footer .bootsrap a {
    color: #fff;
  } 
/* -------------------footer------------------------ */

  
  